.iconContainer {
  margin: 0;
  display: flex;
  flex-direction: row;
  min-width: max-content;
  align-items: center;
  justify-content: center;
}
.spotify,
.applemusic,
.soundcloud,
.bandcamp,
.instagram,
.github,
.linkedin,
.handshake {
  --base-size: x-large;
  --hover-size: xx-large;
  margin: 0;
  font-size: var(--base-size);
  color: black;
  cursor: pointer;
  padding: 0vw 0.5vw;
  animation-duration: 0.45s;
  animation-name: ondehover;
  --drop-shad: drop-shadow(0vw 0vw 1vw var(--is-color));
}
.spotify:hover,
.applemusic:hover,
.soundcloud:hover,
.bandcamp:hover,
.instagram:hover,
.github:hover,
.linkedin:hover,
.handshake:hover {
  font-size: var(--hover-size);
  animation-duration: 0.15s;
  animation-name: onhover;
  color: var(--h-color);
}
.spotify:hover {
  --h-color: #1db954;
  --is-color: #48b9705d;
  filter: var(--drop-shad);
}
.applemusic:hover {
  --h-color: #f94c57;
  --is-color: #ff686d5d;
  filter: var(--drop-shad);
}
.soundcloud:hover {
  --h-color: #f70;
  --is-color: #ff33005d;
  filter: var(--drop-shad);
}
.bandcamp:hover {
  --h-color: #629aa9;
  --is-color: #657f865d;
  filter: var(--drop-shad);
}
.instagram:hover {
  --h-color: #e1306c;
  --is-color: #fcaf455d;
  filter: var(--drop-shad);
}
.github:hover {
  --h-color: #6e5494;
  --is-color: #4e36745d;
  filter: var(--drop-shad);
}
.linkedin:hover {
  --h-color: #0072b1;
  --is-color: #31b3fa5d;
  filter: var(--drop-shad);
}
.handshake:hover {
  --h-color: #ff2f1c;
  --is-color: #ff15005d;
  filter: var(--drop-shad);
}

@keyframes onhover {
  from {
    color: black;
    font-size: var(--base-size);
    filter: inherit;
  }
  to {
    color: var(--h-color);
    font-size: var(--hover-size);
    filter: var(--drop-shad);
  }
}
@keyframes ondehover {
  from {
    font-size: var(--hover-size);
  }
  to {
    font-size: var(--base-size);
  }
}
