.iconContainer {
  margin: 0;
  display: flex;
  flex-direction: row;
  min-width: max-content;
  align-items: center;
  justify-content: center;
}
.spotify,
.applemusic,
.soundcloud,
.bandcamp,
.instagram,
.github,
.linkedin,
.handshake {
  margin: 0;
  font-size: 2rem;
  color: black;
  cursor: pointer;
  padding: 0rem 0.5rem;
  animation-duration: 0.45s;
  animation-name: ondehover;
}
.spotify:hover,
.applemusic:hover,
.soundcloud:hover,
.bandcamp:hover,
.instagram:hover,
.github:hover,
.linkedin:hover,
.handshake:hover {
  font-size: 2.5rem;
  animation-duration: 0.15s;
  animation-name: onhover;
  color: var(--h-color);
}
.spotify:hover {
  --h-color: #1db954;
}
.applemusic:hover {
  --h-color: #fc3c44;
}
.soundcloud:hover {
  --h-color: #ff7700;
}
.bandcamp:hover {
  --h-color: #629aa9;
}
.instagram:hover {
  --h-color: #f09433;
}
.github:hover {
  --h-color: #6e5494;
}
.linkedin:hover {
  --h-color: #0072b1;
}
.handshake:hover {
  --h-color: #ff2f1c;
}

@keyframes onhover {
  from {
    color: black;
    font-size: 2rem;
  }
  to {
    color: var(--h-color);
    font-size: 2.5rem;
  }
}
@keyframes ondehover {
  from {
    font-size: 2.5rem;
  }
  to {
    font-size: 2rem;
  }
}
